//color
$blue: #407BFF;
$white: #FFFFFF;
$light_grey: #FAFAFA;
$grey: #8B8B8B;
$shadow: #407BFF1F;
$black: #000000;

//text size
$h_size: 28px;
$main_size: 16px;
$button_size: 14px;
$card_size: 13px;

//text weight
$h_weight: medium;
$main_weight: 300;
$button_weight: 400;
$card_weight: 300;

//breakpoint
$tablet: 640px;
$desktop: 1100px;